/*/build/
build/
/captures

.gradle

#built application files
*.apk
*.ap_

# Local configuration file (sdk path, etc)
local.properties
upload_key.json
PiwigoSigning.properties
piwigo_android_keystore.jks

# Android Studio
.idea/caches
.idea/libraries/
.idea/workspace.xml
.idea/assetWizardSettings.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/markdown-navigator/
.idea/markdown-navigator.xml
*.iml

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store
