<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.piwigo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application
        android:name=".PiwigoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Piwigo">
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Piwigo.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Piwigo.Login"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Piwigo.NavDrawer" />

        <service android:name=".accounts.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c63f07442d898d0d7122b657aeb620be107173c6" />
    </application>

</manifest>
